[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"

[dev-packages]
bumpversion = "*"
twine = "*"

[requires]
